body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background:rgb(207, 207, 255);
    height: 100vh;
}

.input {
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    text-align: justify;
    font-size: 20px;
}

label {
    padding: 10px 0;
    font-size: 20px;
}

button {
    display: flex;
    padding: 10px
}

.add-book {
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
}

.submit {
    display: flex;
    margin: 15px;
    align-items: center;
    justify-content: center;

}

.book-cards {
    display: grid;
    padding: 50px 200px;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    justify-items: center;
}

.card {
    min-height: 300px;
    min-width: 300px;
    border: 1px solid black;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px 50px;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.title {
    font-size: 40px;
}

.remove {
    margin-left: 390px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    font-weight: bold;
    
}

.form, ::before, ::after {
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 450px;
    max-width: 50%;
    min-height: 410px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgb(218, 244, 253);
}

.yes-no {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form.active {
    transform: translate(-50%, -50%) scale(1);
}

.form-title,
.form-author,
.form-pages,
.form-read {
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    font-size: 16px;
}

.form-title,
.form-author,
.form-pages {
    align-items: center;
    flex-direction: column;
}

.form-read {
    justify-content: space-around;
}


#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}